body{
	background-color: #00cc66;
}
.navbar{
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	overflow: hidden;
}
.heading-box{
	background-color: #0080ff;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0;
	height: 10%;
	width: 100%;
}
.menu-heading{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #000000;
}
#navbarDropdown{
	background-color: #00cc66;
	padding: 0;
	border: 0;
	border-color:  #00cc66;
}

.section1{
	background-color: #0080ff;
	border:2px solid black;
}
.button1{
	background-color: #00cc66;
	margin-left: 20px;
}
.button2{
	color: #0080ff;
	background-color: #00cc66;
	border: 0;
	padding: 0;
	font-size: 2em;
}
.button3{
	background-color: #00cc66;
	padding: 0;
	border: 0;
}
.button4{
	background-color: #00cc66;
	border: 1px solid black;
	
}
@media(max-width: 576px)
{
	.menu-heading{
		margin-top: 100px;
	}
}