
*{box-sizing:border-box;
 margin: 0px;
 padding: 0px;
 background-color: black;}
h1{text-align: center;
   margin-top: 100px;
   color: white;}
   h2{align-content: right;}
#h21{background-color: rgb(0,0,0);
	color: purple;
	width: 185px;
	position: relative;

    right:auto;
    border:solid grey 5px;
	
	}
#h22{
	background-color: rgb(0,0,0);
	color: purple;
	width: 275px;
	position: relative;
   
    left: auto;
    border:solid grey 5px;
	
}
#h23{background-color: rgb(0,0,0);
	color: purple;
	width: 154px;
	position: relative;
    
    left: auto;
    border:solid grey 5px;
	
}



section{margin-top: 200px;
        }
 p{background-color: purple;
   color:black;}
 @media(min-width: 992px)
 {
 	div{
	float: left;
	border: solid grey 5px;
    width: 33.33%;
    background-color: purple;
    
    
}
 }
 @media(min-width: 768px) and (max-width: 991px)
 {
 	#div1{
	float: left;
	border: solid rgb(64,64,64) 5px;
   background-color: purple;
    width: 50%;
    }
    #div2{
	float: left;
	border: solid rgb(64,64,64) 5px;
   background-color: purple;
    width: 50%;
    }
    #div3{
	
	clear:  both;
	border: solid rgb(64,64,64) 5px;
   background-color: purple;
    width: 100%;
    }
 }
 @media(max-width: 767px)
 {
 	div{
	float: left;
	border: solid rgb(64,64,64) 5px;
	background-color: purple;
    width: 100%;
  
}
 }
